@tailwind base;
@tailwind components;
@tailwind utilities;

/* for CKEditor */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@media print {
  body {
    margin: 0 !important;
  }
}

@layer base {
  :root {
    color: unset;
    background-color: unset;
  }

  body {
    @apply font-Dana bg-gray-100 dark:bg-zinc-800 dark:text-white;
  }

  svg {
    @apply size-5;
  }

  a {
    @apply inline-block;
  }

  button:disabled {
    @apply opacity-40;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .circle {
    @apply flex items-center justify-center border rounded-full;
  }
  .circle--lg {
    @apply w-[203px] h-[203px] border-white/25;
  }
  .circle--md {
    @apply w-[145px] h-[145px] border-white/50;
  }

  .circle--sm {
    @apply w-[95px] h-[95px] border-white/80;
  }

  .circle--lg__animation {
    animation: circle--lg 3s linear 0s infinite normal forwards;
  }

  .circle--md__animation {
    animation: circle--lg 3s linear 0s infinite normal forwards;
  }

  .circle--sm__animation {
    animation: circle--lg 3s linear 0s infinite normal forwards;
  }

  @keyframes circle--lg {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.5;
    }

    75% {
      opacity: 1;
    }
  }
  @keyframes circle--md {
    0%,
    50%,
    100% {
      opacity: 1;
    }

    25%,
    75% {
      opacity: 0;
    }
  }
  @keyframes circle--sm {
    0%,
    50%,
    100% {
      opacity: 1;
    }

    25%,
    75% {
      opacity: 0;
    }
  }

  .input-form {
    @apply w-full outline-none rounded-lg bg-white dark:bg-zinc-900 px-3 border-2 dark:border-zinc-700 shadow-normal p-2;
  }

  .cart-btn {
    @apply bg-gray-100 dark:bg-zinc-800 flex items-center justify-center w-8 h-8 md:w-10 md:h-10 rounded-full;
  }

  .cart-btn:hover {
    @apply bg-teal-600 dark:bg-emerald-500;
  }

  html.dark .products {
    background-image: url("../../public/images/products-bg.png");
  }
  .products {
    background: linear-gradient(
        rgba(243, 244, 246, 0.65),
        rgba(243, 244, 246, 0.65)
      ),
      url("../../public/images/products-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .category-banner {
    @apply flex flex-col justify-center z-10 w-full h-full bg-cover bg-no-repeat overflow-hidden pr-7 md:pr-12 absolute inset-0 bg-gradient-to-r from-black/10 to-black/60;
  }

  .offer {
    @apply relative text-gray-400;
  }

  .offer::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    inset: 0;
    margin: auto;
    background-color: #ef4444;
    top: -2px;
  }

  /* style custom Swiper */
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    height: 80%;
    width: 100%;
  }

  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-custom {
    @apply flex items-center justify-center w-9 h-9 md:w-10 md:h-10 bg-white text-zinc-700 dark:bg-zinc-700 dark:text-white shadow-normal rounded-full hover:bg-gray-300 dark:hover:bg-white dark:hover:text-zinc-700 transition-all;
  }

  .truncate-multiline {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: initial;
    text-overflow: ellipsis;
  }

  /* space top for all page */
  .space-top {
    @apply container mt-5 md:mt-48;
  }

  /* class for all page in dashboard */
  .dashboard-page {
    @apply container px-4 py-6 min-h-screen lg:overflow-y-auto;
  }

  .user-info {
    @apply flex items-center gap-5 px-2 min-h-11 tracking-wide shadow-medium shadow-zinc-200 dark:shadow-white/10 rounded-lg text-black/60 dark:text-white/60;
  }

  .user-info h4 {
    @apply font-bold;
  }

  /* for change main image in add product form */
  .after-img::after {
    content: "عکس اصلی";
    font-size: 10px;
    padding: 1px 10px;
    border-radius: 20px;
    background-color: #fdba74;
    color: #fff;
    position: absolute;
    bottom: -9px;
    left: 5;
  }

  .choose-page {
    @apply bg-zinc-300 dark:bg-zinc-950;
  }

  /* CKEditor */
  .main-container {
    font-family: "Lato";
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .ck-content {
    font-family: "Lato";
    line-height: 1.6;
    word-break: break-word;
  }

  .editor-container_classic-editor .editor-container__editor {
    min-width: 795px;
    max-width: 795px;
  }
}

@layer utilities {
  .scrollbarCustom::-webkit-scrollbar {
    width: 3px;
  }

  .scrollbarCustom::-webkit-scrollbar-track {
    background-color: rgb(214, 211, 211);
  }
  .scrollbarCustom::-webkit-scrollbar-thumb {
    background-color: gray;
  }

  html.dark .scrollbarCustom::-webkit-scrollbar-thumb {
    background-color: gray;
  }
  html.dark .scrollbarCustom::-webkit-scrollbar-track {
    background-color: rgb(61, 61, 61);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
